<% content_for(:title_tag) do %>
  <%= t(:index_title_collection)%>
<% end %>
<% content_for(:description) do %>
  <%= t(:index_description_collection)%>
<% end %>

<div class="container collections-container">
  <div class="row">

    <div class="collection-h1">
      <h1>Les collections</h1>
      <hr>
    </div>

    <% if  @collections.present?%>
      <% @collections.each do |collection|  %>
        <div class="col-xs-6 col-sm-4 collection-container">
          <%= link_to collection_path(collection) do %>
          <div class="collection-image-container img<%= collection.id%>">
               <style>
                .img<%= collection.id%> {
                  background-image: url(<%= cl_image_path(collection.top_photo.path, quality: "10") %>);
                  background-size: cover;
                  background-position-y: center;
                  background-position-x: center;
                }
              </style>
              <h2><%= collection.name%></h2>
              <div class="collection-overlay"></div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h2 style="text-align: center; margin: 50px 30px; font-weight: 300">
        <%= link_to t(:no_collection), ceramiques_path, class: "link-404"%>
      </h2>
    <% end %>

  </div>
</div>

<%= render 'shared/schema_org_jsons/ceramiques_index_json' %>
