<% content_for(:title_tag) do %>

<% end %>
<% content_for(:description) do %>

<% end %>

<%= render 'shared/lighttheme_photo_loading'%>

<div class="container">
  <div class="row">
    <div class="collection-h1">
      <h1>Collection <%= @collection.name %></h1>
      <hr>
    </div>
  </div>
</div>

<div id="carousel-collection-show" class="carousel slide hidden-xs" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-collection-show" data-slide-to="0" class="active"></li>
    <% @photos_by_3.each_with_index do |photo, index|  %>
      <% if index > 0 %>
        <li data-target="#carousel-collection-show" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @photos_by_3.each_with_index do |photo_group, index|  %>
      <div class="item <%= index == 0 ? "active" : "" %>">
        <% photo_group.each_with_index do |photo, photo_index|  %>
          <div class="carousel-banner photo<%= photo_index%>"></div>
          <style>
            .photo<%= photo_index%> {
              background-image: url(<%= cl_image_path photo.path %>);
              background-size: cover;
            }
            .carousel-banner {
              width: calc(100% / <%= photo_group.size %>)
            }
          </style>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-collection-show" data-slide="prev">
    <span class="glyphicon"><%= image_tag 'left-chevron.svg'%></span>
  </a>
  <a class="right carousel-control" href="#carousel-collection-show" data-slide="next">
    <span class="glyphicon"><%= image_tag 'right-chevron.svg'%></span>
  </a>
</div>

<div id="carousel-collection-show-mobile" class="carousel slide hidden-sm hidden-md hidden-lg" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-collection-show-mobile" data-slide-to="0" class="active"></li>
    <% @collection.photos.each_with_index do |photo, index|  %>
      <% if index > 0 %>
        <li data-target="#carousel-collection-show-mobile" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @collection.photos.each_with_index do |photo, index|  %>
      <div class="item <%= index == 0 ? "active" : "" %>">
        <div class="carousel-banner photo<%= index%>"></div>
        <style>
          .photo<%= index%> {
            background-image: url(<%= cl_image_path photo.path %>);
            background-size: cover;
          }
        </style>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-collection-show-mobile" data-slide="prev">
    <span class="glyphicon"><%= image_tag 'left-chevron.svg'%></span>
  </a>
  <a class="right carousel-control" href="#carousel-collection-show-mobile" data-slide="next">
    <span class="glyphicon"><%= image_tag 'right-chevron.svg'%></span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="collection-text hidden-xs">
      <h2><%= @collection.name %></h2>
      <p><%= @collection.description.gsub(/\n/, '<br>').html_safe %></p>
    </div>
    <div class="collection-text-mobile hidden-sm hidden-md hidden-lg">
      <h2><%= @collection.name %></h2>
      <p><%= @collection.description.gsub(/\n/, '<br>').html_safe %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'shared/default_filter' %>
    <%= render 'shared/lighttheme_products_cards' %>
  </div>
</div>
