<div class="hidden-xs hidden-sm hidden-md col-lg-3">
  <div id="ceramique-filters-content">
    <h2><%= t(:filter) %></h2>
    <form action="/<%=ENV['MODEL']%>" method='get'>
      <input type="search" id="aa-search-input" class="aa-input-search" placeholder="<%=t(:search_place_holder)%>" name="search" autocomplete="off" />
      <a href="https://www.algolia.com" class="lienalgolia" target="blank"><%= image_tag "algolia.png", class: "algolialogo", alt: "Lien vers Algolia"%></a>
      <div class="category-filter filter">
        <% @uniq_top_categories.each do |topcategory| %>
          <h3><%= topcategory.name %></h3>
          <ul>
            <% topcategory.categories.each do |category| %>
              <% if  category.ceramiques.any? %>
                <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category.name %>"><%= category.name.capitalize %></label></li>
               <% end %>
            <% end %>
          </ul>
        <% end %>
        <h3>Collections</h3>
        <ul>
          <% @uniq_collections.each do |collection| %>
            <li><label class="label-search"><input type="checkbox" name="collections[]" value="<%= collection.name %>"><%= collection.name.capitalize %></label></li>
          <% end %>
        </ul>
        <h3><%=t(:max_price)%></h3>
        <section class="range-slider">
          <span class="rangeValues"></span>
          <% max = (Ceramique.maximum(:price_cents) || 0)/ 100 %>
          <% min = (Ceramique.minimum(:price_cents) || 0)/ 100 %>
          <input name="prix_min" value="<%= min %>" min="<%= min %>" max="<%= max %>" step="1" type="range">
          <input name="prix_max" value="<%= max %>" min="<%= min %>" max="<%= max %>" step="1" type="range">
        </section>

        <% if  params[:categories].present? || params[:prix_max].present? || params[:offer].present? || params[:search].present? || params[:collections].present? %>
          <label class="label-search all"><input type="checkbox" name="all[]" value="all"><%=t(:display_all)%></label>
        <% end %>
        <input type="hidden" name="locale" value="<%= I18n.locale%>">
        <input type="submit" id="recherche" class="btn btn-primary recherche" value="<%=t(:display)%>">
      </div>
    </form>
  </div>
</div>
