<div id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-infos col-xs-12 col-md-4">
        <h2><%=t(:infos)%></h2>
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <%= link_to admin_root_path do %>
              <span>Administration</span>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to t(:product_return), cgv_path(anchor: "product-return") %>
        <%= link_to t(:deliveries), cgv_path(anchor: "delivery") %>
        <%= link_to t(:cgv), cgv_path(anchor: "cgv") %>
        <%= link_to t(:legal), legal_path %>
        <%= link_to t(:contact), contact_path %>
      </div>
      <div class="newsletter-subscribe col-xs-12 col-md-8">
        <h2><%= t(:new_and_updates).upcase%></h2>
        <p><%=t(:yes_i_want)%></p>
        <%= render 'shared/subscribe' %>
        <%= render 'shared/social_nav_footer' %>
      </div>
      <div class="mylink">
        <%= link_to @dev_redirection || session[:dev_redirection_default], title: "Créez votre boutique en ligne avec l'agence de Guillaume Crouillere" do %>
          <%= image_tag  'lego.svg', alt: "Guillaume Crouillere - Developpeur WEB indépendant"%>
      <% end %>
      </div>
    </div>
  </div>
</div>
