<div class="navbar-laptop-lighttheme nav-mobile">
<!-- Language - Contact - Sign-in - Cart -->
  <div class="nav-top-section">
    <div class="nav-top-left">
      <%= render 'shared/social_nav_footer' %>
    </div>
    <div class="nav-top-right">
      <div class="languages">
        <%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
              <%= image_tag "EN.svg", class: "first-flag flag"%>
        <% end %>
        <%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
          <%= image_tag "FR.svg", class: "flag"%>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="icone-bloc top-section-item laptop-item hidden-xs hidden-sm">
        <%= link_to destroy_user_session_path, class: "top-nav-link", method: :delete do %>
          <i class="fa fa-sign-out-alt"></i>
          <span class="info-text info-text-3 "><%=t(:unconnect).upcase%></span>
        <% end %>
        </div>
      <% else %>
        <div class="icone-bloc top-section-item laptop-item hidden-xs hidden-sm">
          <%= link_to new_user_session_path, title: "Accès à votre compte", class: "navbar-item navbar-link top-nav-link" do %>
            <i class="fa fa-sign-in-alt"></i>
            <span class="info-text info-text-3"><%=t(:connect).upcase%></span>
          <% end %>
        </div>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])), class: "top-section-item top-nav-link" do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Logo LAPTOP -->
  <div class="navbar-logo hidden-xs">
    <%= render 'shared/logo_pic' %>
    <div class="nav-bar-list">
      <div class="shop-dropdown shop-dropdown-laptop hidden-xs hidden-sm">
        <%= link_to ceramiques_path, class: "nav-link nav-link-no-hover" do %>
          <span ><%=t(:shop_link).upcase%></span>
          <span class="caret"></span>
        <% end %>
        <div class="shop-sub-list">
          <div class="nav-categories">
            <%= link_to "Collections", collections_path, title: "Découvrir toutes les collections d'Anne Drugeon" %>
            <% @uniq_top_categories.each do |topcategory| %>
               <%= link_to "#{topcategory.name.capitalize}", ceramiques_path(categories: topcategory.categories.map(&:name), topcategory: topcategory.name), title: "découvrir les #{topcategory.name} en vente sur le site" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="shop-dropdown shop-dropdown-tablet hidden-xs hidden-md hidden-lg">
        <div class="nav-link nav-link-no-hover">
          <span ><%=t(:shop_link).upcase%></span>
          <span class="caret"></span>
        </div>
        <div class="shop-sub-list-mobile">
          <div class="nav-categories">
            <%= link_to "Collections", collections_path, title: "Découvrir toutes les collections d'Anne Drugeon" %>
            <% @uniq_top_categories.each do |topcategory| %>
               <%= link_to "#{topcategory.name.capitalize}", ceramiques_path(categories: topcategory.categories.map(&:name), topcategory: topcategory.name), title: "découvrir les #{topcategory.name} en vente sur le site" %>
            <% end %>
            <%= link_to "Boutique", ceramiques_path, title: "Tous les produits'Anne Drugeon" %>
          </div>
        </div>
      </div>
      <%= link_to info_path, title: "La créatrice : Anne Drugeon", class: "nav-link link-with-bars" do %>
        <span><%= t(:creator)%></span>
      <% end %>
      <%= link_to articles_path, title: "Découvrez le blog d'Anne Drugeon", class: "nav-link" do %>
        <span>BLOG</span>
      <% end %>
    </div>
    <div class="centered-logo">
      <%= link_to root_path do  %>
        <%= @logositepictag %>
      <% end %>
    </div>
    <div class="nav-bar-list">
      <%= link_to points_de_vente_path, title: "La créatrice : Anne Drugeon", class: "nav-link third-link" do %>
        <span><%= t(:selling_point).upcase%></span>
      <% end %>
      <%= link_to contact_path, title: "Contactez Anne Drugeon", class: "nav-link link-with-bars" do %>
        <span>CONTACT</span>
      <% end %>
      <a href="#" class="nav-link" id="lighttheme-filter-search">
        <span class=""><%= image_tag "search.svg", class: "searchimg"%></span>
      </a>
    </div>
  </div>
  <!-- MOBILE -->
  <div class="mobile-nav hidden-sm hidden-md hidden-lg ">
    <div class="centered-logo-mobile ">
      <%= link_to root_path do  %>
        <%= @logositepictag %>
      <% end %>
    </div>
    <div class="menus">
      <div class="nav-bar-list">
        <div class="shop-dropdown">
          <div class="nav-link nav-link-no-hover">
            <span ><%=t(:shop_link).upcase%></span>
            <span class="caret"></span>
          </div>
          <div class="shop-sub-list-mobile">
            <div class="nav-categories">
              <%= link_to "Collections", collections_path, title: "Découvrir toutes les collections d'Anne Drugeon" %>
              <% @uniq_top_categories.each do |topcategory| %>
                <%= link_to "#{topcategory.name.capitalize}", ceramiques_path(categories: topcategory.categories.map(&:name), topcategory: topcategory.name), title: "découvrir les #{topcategory.name} en vente sur le site" %>
              <% end %>
              <%= link_to "Boutique", ceramiques_path, title: "Tous les produits'Anne Drugeon" %>
            </div>
          </div>
        </div>
        <%= link_to info_path, title: "La créatrice : Anne Drugeon", class: "nav-link link-with-bars" do %>
          <span><%= t(:creator)%></span>
        <% end %>
        <%= link_to articles_path, title: "Découvrez le blog d'Anne Drugeon", class: "nav-link" do %>
          <span>BLOG</span>
        <% end %>
      </div>
      <div class="nav-bar-list">
        <%= link_to points_de_vente_path, title: "La créatrice : Anne Drugeon", class: "nav-link" do %>
          <span><%= t(:selling_point).upcase%></span>
        <% end %>
        <%= link_to contact_path, title: "Contactez Anne Drugeon", class: "nav-link link-with-bars" do %>
          <span>CONTACT</span>
        <% end %>
        <a href="#" class="nav-link" id="lighttheme-filter-search-mobile">
          <span class=""><%= image_tag "search.svg", class: "searchimg"%></span>
        </a>
      </div>
    </div>
  </div>
</div>
