<% content_for(:description) do %>
<%= t(:cgv)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:cgv)%>
<% end %>

 <div class="container CGV-container">

   <div class="row CGV">
    <h2><%=t(:product_return)%><span id="product-return"></span></h2>
    <div class="col-xs-12 CGV">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("cgv", "vertical", "markdown1", "live-text1", "input1") %>
        <% @markdown = @markdown1 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("cgv", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row CGV">
    <h2><%= t(:deliveries)%><span id="delivery"></span></h2>
    <div class="col-xs-12 CGV">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("cgv2", "vertical", "markdown2", "live-text2", "input2") %>
        <% @markdown = @markdown2 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("cgv2", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row CGV">
    <h2><%= t(:cgv)%><span id="cgv"></span></h2>
    <div class="col-xs-12 CGV">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("cgv2", "vertical", "markdown2", "live-text2", "input2") %>
        <% @markdown = @markdown2 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("cgv2", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>



