<% content_for(:description) do %>
  <%=t(:home_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%=t(:home_title)%>
<% end %>

<%= render 'shared/home_pics' %>

<div class="jumbotron">
  <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
      <%= photo_update('productphoto1', 30, '', '', 30, '.homepic1', "Mise à jour photo d'accueil 1")%>
      <%= photo_update('productphoto2', 30, '', '', 412, '.homepic2', "Mise à jour photo d'accueil 2")%>
      <%= photo_update('productphoto3', 30, '', '', 804, '.homepic3', "Mise à jour photo d'accueil 3")%>
      <%= photo_update('productphotomobile1', 300, '', '', 30, '.homepicmobile1', "Mise à jour photo d'accueil mobiles 1")%>
      <%= photo_update('productphotomobile2', 300, '', '', 412, '.homepicmobile2', "Mise à jour photo d'accueil mobiles 2")%>
      <%= photo_update('productphotomobile3', 300, '', '', 804, '.homepicmobile3', "Mise à jour photo d'accueil mobiles 3")%>
      <%= photo_update('logophoto', 600, '', '', 30, '.logopic', "Mise à jour logo")%>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% (1..3).each do |index|%>
        <div class="item <%= index == 1 ? "active" : "" %>"><div class="item<%="#{index}"%>"></div></div>
        <style>
            .item<%=index %> {
              background-image: url(<%= instance_variable_get("@homepicpath#{index}")%>);
            }
        </style>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon"><%= image_tag 'left-chevron.svg'%></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon"><%= image_tag 'right-chevron.svg'%></span>
    </a>
  </div>

  <div id="carousel-home-mobile" class="carousel slide hidden-sm hidden-md hidden-lg" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-home-mobile" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home-mobile" data-slide-to="1"></li>
      <li data-target="#carousel-home-mobile" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% (1..3).each do |index|%>
        <div class="item <%= index == 1 ? "active" : "" %>"><div class="item-mobile<%="#{index}"%>"></div></div>
        <style>
            .item-mobile<%=index %> {
              background-image: url(<%= instance_variable_get("@homepicpathmobile#{index}")%>);
            }
        </style>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home-mobile" data-slide="prev">
      <span class="glyphicon"><%= image_tag 'left-chevron.svg'%></span>
    </a>
    <a class="right carousel-control" href="#carousel-home-mobile" data-slide="next">
      <span class="glyphicon"><%= image_tag 'right-chevron.svg'%></span>
    </a>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "image": ["<%=request.original_url%><%= image_path ENV['HOMEPIC1']%>"],
    "@id": "<%=request.original_url%>",
    "name": "<%=t(:les_produits_de_machin, product:"#{ENV['MODEL']}", name: "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}")%>",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12 rue de la paix",
      "addressLocality": "Paris",
      "addressRegion": "IDF",
      "postalCode": "75000",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": <%= ENV['LAT'].to_f %>,
      "longitude": <%= ENV['LAT'].to_f %>
    },
    "url": "<%=request.original_url%>",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "10:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday","Sunday"],
        "opens": "closed",
        "closes": "closed"
      }
    ],
   "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
