<% content_for(:description) do %>
  <%= t(:info_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:info_title)%>
<% end %>

<%= render 'shared/info_pics' %>

 <div class="container">
  <div class="row">

    <div class="collection-h1">
      <h1><%= t(:creator)%></h1>
      <hr>
    </div>

  <!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-sm-12">
      <div class="wrapper-lighttheme">
        <div class="wrapper-image-small image-1">
          <%= photo_update('info1photo', 35, -13, '', '', '.info1photopic', "Mise à jour photo info 1")%>
          <style>
            .image-1 {
              background-image: url(<%= @info1pictag %>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <div class="top-texts">
        <% if user_signed_in? && current_user.admin %>
          <% article_typing("info1-top", "vertical", "markdown1", "live-text1", "input1") %>
          <% @markdown = @markdown1 %>
          <%= render 'shared/articletyping' %>
          <% article_typing("info1-bottom", "vertical", "markdown5", "live-text5", "input5") %>
          <% @markdown = @markdown5 %>
          <%= render 'shared/articletyping' %>
        <% else %>
          <div id="live-text" class="">
            <% article_display("info1-top", "vertical") %>
            <%= @markdown.html_safe %>
          </div>
          <div id="live-text" class="">
            <% article_display("info1-bottom", "vertical") %>
            <%= @markdown.html_safe %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="wrapper-lighttheme second-wrapper">
        <% if user_signed_in? && current_user.admin %>
          <% article_typing("info2", "horizontal", "markdown2", "live-text2", "input2") %>
          <% @markdown = @markdown2 %>
          <%= render 'shared/articletyping' %>
        <% else %>
          <div id="live-text" class="text-small">
            <% article_display("info2", "horizontal") %>
            <%= @markdown.html_safe %>
          </div>
        <% end %>
        <div class="wrapper-image-large image-2">
          <%= photo_update('info2photos', 35, 15, '', '', '.info2photopics', "Mise à jour photos info 2")%>
          <% @info2pics.each_with_index do |photo, index| %>
          <div class="image-2-<%=index%>"></div>
            <style>
              .image-2-<%=index%> {
                background-image: url(<%= photo %>);
                background-size: cover;
                background-position-y: center;
                background-position-x: center;
                width: calc(100% / <%= @info2pics.size %>)
              }
            </style>
          <% end %>
        </div>
      </div>

      <div class="wrapper-lighttheme third-wrapper">
        <div class="wrapper-image-small image-3">
          <%= photo_update('info3photo', 35, -13, '', '', '.info3photopic', "Mise à jour photo info 3")%>
          <style>
            .image-3 {
              background-image: url(<%= @info3pictag %>);
              background-size: cover;
              background-position-y: center;
              background-position-x: center;
            }
          </style>
        </div>
        <% if user_signed_in? && current_user.admin %>
          <% article_typing("info3", "horizontal", "markdown3", "live-text3", "input3") %>
          <% @markdown = @markdown3 %>
          <%= render 'shared/articletyping' %>
        <% else %>
          <div id="live-text" class="text-large">
            <% article_display("info3", "horizontal") %>
            <%= @markdown.html_safe %>
          </div>
        <% end %>
      </div>

      <div class="wrapper-lighttheme fourth-wrapper">
        <% if user_signed_in? && current_user.admin %>
          <% article_typing("info4", "vertical", "markdown4", "live-text4", "input4") %>
          <% @markdown = @markdown4 %>
          <%= render 'shared/articletyping' %>
        <% else %>
          <div id="live-text" class="text-small">
            <% article_display("info4", "vertical") %>
            <%= @markdown.html_safe %>
          </div>
        <% end %>
        <div class="bottom-text-and-photo">
          <div class="wrapper-image-large image-4">
            <%= photo_update('info4photos', 35, 15, '', '', '.info4photopics', "Mise à jour photos info 4")%>
          <% @info4pics.each_with_index do |photo, index| %>
          <div class="image-4-<%=index%>"></div>
            <style>
              .image-4-<%=index%> {
                background-image: url(<%= photo %>);
                background-size: cover;
                background-position-y: center;
                background-position-x: center;
                width: calc(100% / <%= @info4pics.size %>)
              }
            </style>
          <% end %>
        </div>
        <div class="bottom-text">
          <% if user_signed_in? && current_user.admin %>
            <% article_typing("info6", "vertical", "markdown6", "live-text6", "input6") %>
            <% @markdown = @markdown6 %>
            <%= render 'shared/articletyping' %>
          <% else %>
            <div id="live-text" class="">
              <% article_display("info6", "vertical") %>
              <%= @markdown.html_safe %>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>

  <!-- MOBILE -->
   <div class="col-xs-12 hidden-md hidden-lg mobile-info">
      <div class="wrapper-mobile-lightheme">
        <div class="mobile-image-info"><%= cl_image_tag @info1pictag %></div>
        <% article_display("info1-top", "horizontal") %>
        <%= @markdown.html_safe %>
         <% article_display("info1-bottom", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
      <div class="wrapper-mobile-lightheme">
        <div class="mobile-image-info"><%= cl_image_tag @info2pics[0] %></div>
        <% article_display("info2", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
      <div class="wrapper-mobile-lightheme">
        <div class="mobile-image-info"><%= cl_image_tag @info3pictag %></div>
        <% article_display("info3", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
      <div class="wrapper-mobile-lightheme">
        <div class="mobile-image-info"><%= cl_image_tag @info4pics[0] %></div>
        <% article_display("info4", "horizontal") %>
        <%= @markdown.html_safe %>
        <% article_display("info6", "horizontal") %>
        <%= @markdown.html_safe %>
      </div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ArtGallery",
      "image": ["<%=request.original_url%><%= image_path ENV['HOMEPIC1']%>"],
      "@id": "<%=request.original_url%>",
      "name": "<%=t(:les_produits_de_machin, product:"#{ENV['MODEL']}", name: "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}")%>",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "12 rue de la paix",
        "addressLocality": "Paris",
        "addressRegion": "IDF",
        "postalCode": "75000",
        "addressCountry": "FR"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": <%= ENV['LAT'].to_f %>,
        "longitude": <%= ENV['LAT'].to_f %>
      },
      "url": "<%=request.original_url%>",
      "telephone": "<%= ENV['TELEPHONE']%>",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "10:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Saturday","Sunday"],
          "opens": "closed",
          "closes": "closed"
        }
      ],
     "priceRange":"20€ à 800€"
    }
  </script>
<% end %>
