<% content_for(:title_tag) do %>
  <%= t(:index_title)%>
<% end %>
<% content_for(:description) do %>
  <%= t(:index_description)%>
<% end %>

<%= render 'shared/lighttheme_photo_loading'%>

<div class="container">
  <div class="row">
<!-- INDEX H1 :  EITHER A DISCOUNT OFFER DIV, OR A SIMPLE H1 -->
    <% if @front_offer && params[:offer] == nil %>
      <div class="hidden-xs hidden-sm col-md-12 info-top">
        <%= render 'shared/general_info_bubble' %>
      </div>
      <div class="collection-h1 ceramiques-index-h1 hidden-md hidden-lg">
        <h1><%= @h1_content %></h1>
        <hr>
      </div>
    <% elsif params[:offer].present? %>
      <div class="collection-h1 ceramiques-index-h1 hidden-xs hidden-sm">
        <h1> <%= @front_offer.title %> <%=t(:offer_products)%></h1>
        <hr>
      </div>
    <% else %>
      <div class="collection-h1 ceramiques-index-h1 hidden-xs hidden-sm">
        <h1><%= @h1_content %></h1>
        <hr>
      </div>
       <div class="collection-h1 ceramiques-index-h1 hidden-md hidden-lg">
        <h1> <%= @h1_content %></h1>
        <hr>
      </div>
    <% end %>

    <%= render 'shared/default_filter' %>

    <%= render 'shared/lighttheme_products_cards' %>

  </div>
</div>

<% content_for(:after_js) do %>
  <script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
<%= render 'shared/facebookshare' %>
<% end %>
<%= render 'shared/schema_org_jsons/ceramiques_index_json' %>
